.badge {
    margin-right: 5px;
}
.bs-message {
    padding: 5px 5px;
    margin: 5px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-message h4 {
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-message p:last-child {
    margin-bottom: 0;
}
.bs-message code {
    border-radius: 3px;
}
.bs-message+.bs-message {
    margin-top: -5px;
}
.bs-message-default {
    border-left-color: #777;
}
.bs-message-default h4 {
    color: #777;
}
.bs-message-primary {
    border-left-color: #428bca;
}
.bs-message-primary h4 {
    color: #428bca;
}
.bs-message-success {
    border-left-color: #5cb85c;
}
.bs-message-success h4 {
    color: #5cb85c;
}
.bs-message-danger {
    border-left-color: #d9534f;
}
.bs-message-danger h4 {
    color: #d9534f;
}
.bs-message-warning {
    border-left-color: #f0ad4e;
}
.bs-message-warning h4 {
    color: #f0ad4e;
}
.bs-message-info {
    border-left-color: #5bc0de;
}
.bs-message-info h4 {
    color: #5bc0de;
}