.badge {
    margin-right: 5px;
}

.label {
    margin-right: 3px;
    padding:6px;
}

.bs-subscription {
    padding: 5px 5px;
    margin: 5px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-subscription h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-subscription p:last-child {
    margin-bottom: 0;
}
.bs-subscription code {
    border-radius: 3px;
}
.bs-subscription+.bs-subscription {
    margin-top: -5px;
}
.bs-subscription-default {
    border-left-color: #777;
}
.bs-subscription-default h4 {
    color: #777;
}
.bs-subscription-primary {
    border-left-color: #428bca;
}
.bs-subscription-primary h4 {
    color: #428bca;
}
.bs-subscription-success {
    border-left-color: #5cb85c;
}
.bs-subscription-success h4 {
    color: #5cb85c;
}
.bs-subscription-danger {
    border-left-color: #d9534f;
}
.bs-subscription-danger h4 {
    color: #d9534f;
}
.bs-subscription-warning {
    border-left-color: #f0ad4e;
}
.bs-subscription-warning h4 {
    color: #f0ad4e;
}
.bs-subscription-info {
    border-left-color: #5bc0de;
}
.bs-subscription-info h4 {
    color: #5bc0de;
}